<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if logged_in? %>
	<%= "You are currently logged in as #{current_user.email}" %>
	<%= button_to "Log Out", session_url, :method => :delete %>
	<% end %><br><br>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <li><%= error %>
<% end %>
<% end %>

<%= yield %>

</body>
</html>
